/* importo google font# */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
html{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    background-color: #f2ebd5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23f2f2f2' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
    color:#F26849;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}
.quote-container{
    width:auto;
    max-width: 800px;
    padding: 20px 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 10px 10px 10px rgba(0,0,0,0.2);
}

.quote-text{
    font-size: 1.76rem;
}
.long-quote{
    font-size:2rem;
}

.fa-quote-left{
    font-size: 4rem;
}

.quote-author{
    margin-top:30px;
    font-size:2rem;
    font-style:italic;
}
.button-container{
    margin-top:15px;
    display:flex;
    justify-content: space-between;
}
button{
    cursor:pointer;
    font-size: 1.2rem;
    height: 50px;
    padding:10px;
    /* background-color:#93BAC1; */
    color:#93BAC1;
    border-color: rgb(255, 254, 193,0.5);
    background-color: rgba(255, 255, 255, 0.7);
    /* border-color: hsla(69, 86%, 81%, 0.6); */
    border-width: 2px;
    border-radius: 10px;
}
button:hover{
    /* background-color:#ffd6cd; */
    /* color:rgba(255, 255, 255, 0.7); */
    filter:brightness(90%);  
}
button:active{
    transform:translate(0, 0.3rem);
    box-shadow:0 0.1rem;
}
/*Table or Smaller */
@media screen and (max-width:1000px){
.quote-container{
    margin:auto 10px;
}
.quote-text{
    font-size:1.76rem;
}